<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your post in detailed</h2>
    <h4>id : <%= post.id %></h4>
    <h3>username : @<%= post.username %></h3>
    <h3>Content : <%= post.content %></h3>
    <a href="http://localhost:8080/posts">Back to main page</a>
</body>
</html>