<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Quara posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quara Posts</h1>
    <% for (const post of posts) {%>
        <div class="post-section">
            <h3 class="user"><i>@<%= post.username %></i></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:8080/posts/<%= post.id %>">See in detail</a>
        </div>
   <% } %>
   <a href="http://localhost:8080/posts/new">Add new Post</a>
</body>
</html>