<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
</head>
<body>
    <h1>Add post</h1>
    <form action="/posts" method="post">
        <input type="text" name="username" id="" placeholder="Enter username">
        <br>
        <br>
        <textarea name="content" id="" placeholder="Write your post"></textarea>
        <br><br>

        <button>Add post</button>
    </form>
</body>
</html>