<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" id="" placeholder="Enter the username">
        <br> <br>
        <textarea name="content" id="" placeholder="Enter the content"></textarea>
        <br>
        <br>
        <button>add post</button>
    </form>
</body>
</html>